@charset "utf-8";

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom right,#AA336A, black);
    background-size: cover;
    background-repeat: no-repeat;
}
/*nav*/
nav {
    background-color: black;
    margin-top:-20px ;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    flex: 1;
}

nav a {
    display: block;
    padding: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(255, 0, 255);
}
/*layout*/
html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    
}

header {
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: white;
    position: relative;
    bottom: 10px;
    width: 100%;
}
